<%- include partials/header -%>
    <h1>Home</h1>
    <p>
        <%= hs %>
    </p>
    <% postss.forEach(function(x){ %>
        <h1>
            <% var y=x._id%>
            <a href="/posts/<%= y %> " class="headerlink"> <%=x.title%></a>
           
        </h1>
        <p class = "postpreview">
            <%= x.content.substring(0,100)+"..." %>
                <% var y=x._id%>
                    <a href="/posts/<%= y %> " >Read more</a>
        </p>

        <%}) %>
            <%- include partials/footer -%>