<%- include partials/header -%>
    <h1>Home</h1>
    <p>
        <%= hs %>
    </p>
    <!-- search button with a text box input -->

    <%- include partials/searchform -%>
        <!--  -->

        <% postss.forEach(function(x){ %>
            <div class="post">
                <div class="heading">
                    <div>
                        <h1>
                            <% var y=x._id%>
                                <a href="/posts/<%= y %> " class="headerlink">
                                    <%=x.title%>
                                </a>
                        </h1>
                    </div>
                    <div>
                        <h3>
                            <% var z=formatDistanceToNow(new Date(x.createdAt), { addSuffix: true })%>
                                <%= z %>
                        </h3>
                    </div>
                </div>
                <p class="postpreview">
                    <%= x.content.substring(0,100)+"..." %>
                        <% var y=x._id%>
                            <a href="/posts/<%= y %> ">Read more</a>
                </p>
            </div>

            <%}) %>
                <div>
                    <% if(postss.length==0){ %>
                        <p>No posts found</p>
                        <%} %>
                </div>

                <div class="nextprev">
                    <div>
                        <% if(prev){ %>
                            <a href="/?limit=<%= limit %>&page=<%= prev.page %>">Previous</a>
                            <%} %>
                    </div>
                    <div>
                        <% if(next){ %>
                            <a href="/?limit=<%= limit %>&page=<%= next.page %>">Next</a>
                            <%} %>
                    </div>
                </div>

                <!-- Footer -->

                <%- include partials/footer -%>